@model List<ProductMainCategory>

<section id="video-background-home">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item"
				src="https://www.youtube.com/embed/i6PqozXHgEU?showinfo=0&autoplay=1&loop=1&controls=0&rel=0&playlist=i6PqozXHgEU&enablejsapi=1&mute=1"
				allow="autoplay; encrypted-media"
				id="youtube-intro-frame"></iframe>
	</div>
	<img class="avatar" src="Content/images/background/video.jpg" />
	<div class="info">
		<h1>
			Tàu Thuyền Việt
		</h1>
		<span>Phân phối các sản phẩm</span>
		<span class="highlight">Sea-Doo</span>
		<span>Và</span>
		<span class="highlight">Can-Am</span>
		<span>Chính hãng từ tập đoàn BRP</span>
		<a href="#">Xem Thêm</a>
	</div>
</section>
<section id="product-tab-home">
	<ul class="nav nav-tabs nav-fill nav-justified">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#tab-sea-doo">
				<img class="img-fluid" src="Content/images/category-tab-home/sea-doo-only.png" />
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#tab-can-am">
				<img class="img-fluid" src="Content/images/category-tab-home/can-am-only.png" />
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#tab-brp">
				<img class="img-fluid" src="Content/images/category-tab-home/BRP-only.png" />
			</a>
		</li>
	</ul>
	<div class="container">
		<div class="tab-content">
			<div class="tab-pane fade show active" id="tab-sea-doo">
				<h3>SEA-DOO: THỐNG LĨNH MẶT NƯỚC</h3>
				<p>Là thương hiệu hàng đầu trong lĩnh vực mô-tô nước. Sea-Doo cam kết tạo cho khách hàng sự phấn khích và đem tới cảm giác mạnh mẽ, thu hút mọi ánh nhìn. Trong hơn 25 năm qua, Sea-Doo vẫn đang tiếp tục đứng ở vị trí đầu nghành. Liên tục giành những giải thưởng lớn, và tất cả mọi danh hiệu của chúng tôi đều chỉ có một mục tiêu duy nhất – cung cấp cho tất cả những khách hàng của chúng tôi một trải nghiệm dưới nước thú vị và đáng nhớ nhất.</p>
				<p>Hiện nay, với nhiều năm kinh nghiệm nghiêm cứu và phát triển, chúng tôi đã tạo nên những chiếc mô-tô nước tốt nhất và thậm chí còn tốt hơn với hệ thống iControl. Đây là công nghệ mô-tô nước hiện đại nhất trên thế giới. Ngoài ra, còn có bộ kiểm soát ga tiên tiến nhất, tất cả được kết hợp với động cơ huyền thoại - BRP Rotax ®, động cơ được thiết kế đặc biệt để sử dụng trong môi trường nước.</p>
				<p>SEA-DOO được phân phối chính hãng tại Việt Nam thông qua CÔNG TY TNHH MTV TM DV TÀU THUYỀN VIỆT. Là đại lý chính hãng duy nhất tại Việt Nam.</p>
			</div>
			<div class="tab-pane fade" id="tab-can-am">
				<h3>CAN-AM: TINH THẦN CHIẾN THẮNG</h3>
				<p>Can-Am ATVs và những mẫu xe cùng với nó là hiện thân khả năng của BRP. Để thiết lập lại vị trí độc tôn tại bất cứ vùng đất nào có sự xuất hiện của những chiếc Can-Am.</p>
				<p>Trong cuối những năm 1990, các nhà thiết kế và kỹ sư của chúng tôi là những người đầu tiên trang bị cho ATVs với hệ thống treo sau TTI, cung cấp cho người lái khả năng vượt qua bất kỳ điều kiện nào nhờ chiếc xe được trang bị 2 cầu. Năm 2002, họ cũng là những người đầu tiên tạo ra một chiếc ATV với 2 chổ ngồi. Kết hợp tối đa sức mạnh, xử lý, và lực kéo, Can-Am ATVs là sự lựa chọn hàng đầu của những người đam mê và chuyên nghiệp.</p>
				<p>Với Can-Am ATVs và các mẫu xe khác, BRP vẫn đang tiếp tục truyền thống lâu đời trên con đường chinh phục chiến thắng. Những truyền thuyết về Can-Am và tinh thần chiến thắng vẫn đang sôi sục với niềm đam mê và tình yêu mãnh liệt trên những chiếc ATV.</p>
				<p>CAN-AM được phân phối chính hãng tại Việt Nam thông qua CÔNG TY TNHH MTV TM DV TÀU THUYỀN VIỆT. Là đại lý chính hãng duy nhất tại Việt Nam.</p>
			</div>
			<div class="tab-pane fade" id="tab-brp">
				<h3>BRP: SỰ ĐỔI MỚI BẮT ĐẦU TỪ 1942</h3>
				<p>Kể từ khi J. A. Bombardier thành lập công ty BRP vào năm 1942, tên công ty nó cũng có nghĩa là chất lượng và sự sáng tạo. Tinh thần đi tiên phong của ông là di sản, truyền thống mà chính điều đó đã giữ và thôi thúc chúng tôi tiếp tục phát triển, khám phá những lĩnh vực mới. Ngày nay, tại Mỹ, Châu Âu, Châu Á-Thái Bình Dương, không những hơn 6800 nhân viên đang giữ tinh thần ấy còn tồn tại, mà nó còn ẩn mình trong tất cả các phương tiện của chúng tôi.</p>
				<p>Tại BRP, đổi mới và niềm đam mê chính là trung tâm nồng cốt của sự cam kết của chúng tôi các sản phẩm của BRP,và các thương hiệu của BRP. Cho dù đó là mô-tô nước Sea-doo của chúng tôi,Ski-Doo,Lynx, những khối động cơ Rotax, những chiếc Can-am ATVs,các mẫu xe khác, và roadsters Spyder, hoặc động cơ Evinrude của chúng tôi, tất cả những giá trị này trở nên sống dộng thông qua công nghệ và thiết kế, lấy cảm hứng từ một mục đích duy nhất: Đi đến giới hạn cuối cùng của sự hoàn hảo dành cho Khách Hàng của chúng tôi.</p>
			</div>
		</div>
		<a class="btn btn-warning d-block expand" href="#">
			Xem thêm
			<i class="fa fa-arrows-v"></i>
		</a>
		<a class="btn btn-warning d-none collap" href="#">
			Thu gọn
			<i class="fa fa-level-up"></i>
		</a>
	</div>
</section>
<section id="product-home">
	@foreach (var item in Model)
	{
		<div class="wrapper">
			<a asp-route="ProductListByID"
		   asp-route-mid="@item.ProductMainCategoryID"
		   asp-route-cid="0"
		   asp-route-title="@item.Title.ToUrlFormat()" class="avatar">
				<img class="img-fluid" src="@item.Avatar" />
				<img class="overlay" src="@item.Thumb" />
			</a>
			<div class="full">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						@foreach (var subItem in item.ProductCategories)
						{
							@foreach (var subSubItem in subItem.Products)
							{
								<div class="swiper-slide">
									<a asp-route="ProductDetail"
									   asp-route-id="@subSubItem.ProductID"
									   asp-route-title="@subSubItem.Title.ToUrlFormat()">
										<img src="@subSubItem.ImageList.GetFirstImage()" />
										<span>@subSubItem.Title</span>
									</a>
								</div>
							}

						}
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div class="thumb">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						@foreach (var subItem in item.ProductCategories)
						{
							@foreach (var subSubItem in subItem.Products)
							{
								<div class="swiper-slide">
									<a asp-route="ProductDetail"
									   asp-route-id="@subSubItem.ProductID"
									   asp-route-title="@subSubItem.Title.ToUrlFormat()">
										<img src="@subSubItem.ImageList.GetFirstImage()" />
									</a>
								</div>
							}

						}
					</div>

					<!-- If we need navigation buttons -->
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	}
</section>
<section id="service-home">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6">
				<a asp-route="Contact">
					<img class="img-fluid" src="Content/images/service/SeaDoo.jpg" />
					<span>Sea Doo</span>
				</a>
			</div>
			<div class="col-12 col-sm-6">
				<a asp-route="Contact">
					<img class="img-fluid" src="Content/images/service/CanAm.jpg" />
					<span>Can Am</span>
				</a>
			</div>
			<div class="col-12 col-sm-6">
				<a asp-route="Contact">
					<img class="img-fluid" src="Content/images/service/PhuKien.jpg" />
					<span>Phụ Kiện</span>
				</a>
			</div>
			<div class="col-12 col-sm-6">
				<a asp-route="Contact">
					<img class="img-fluid" src="Content/images/service/BaoTri.jpg" />
					<span>Bảo Trì</span>
				</a>
			</div>
		</div>
	</div>
</section>